In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [7]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1518,tt0493430,11000000,72778712,Jackass Number Two,Johnny Knoxville|Bam Margera|Steve-O|Chris Pon...,Jeff Tremaine,Guess who just made number two?,Jackass Number Two is a compilation of various...,95,Action|Comedy|Documentary,Paramount Pictures,9/22/2006,6.4,2006
510,tt0247638,37000000,165335153,The Princess Diaries,Anne Hathaway|Julie Andrews|Heather Matarazzo|...,Garry Marshall,She rocks. She rules. She reigns.,A socially awkward but very bright 15-year-old...,115,Comedy|Family|Romance,Walt Disney Pictures|BrownHouse Productions|Bo...,8/3/2001,6.3,2001
193,tt1921064,130000000,117831631,Pompeii,Kit Harington|Carrie-Anne Moss|Emily Browning|...,Paul W.S. Anderson,No warning. No escape.,"Set in 79 A.D., POMPEII tells the epic story o...",105,Action|Adventure|History|Romance|Drama,Impact Pictures|TriStar Pictures|Don Carmody P...,2/18/2014,5.1,2014
1845,tt0181875,60000000,47383689,Almost Famous,Kate Hudson|Billy Crudup|Frances McDormand|Jas...,Cameron Crowe,Experience it. Enjoy it. Just don't fall for it.,Almost Famous is an autobiographical inspired ...,122,Drama|Music,Columbia Pictures|Vinyl Films|DreamWorks Pictures,9/15/2000,7.3,2000

In [8]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [118]:
answers = {} # создадим словарь для ответов

# тут другие предобработки колонок, например:

from itertools import combinations

data2 = data.copy()
data2['profit'] = data2['revenue'] - data2['budget'] #чтобы данные не пропали, создаем их копию и с ними проводим преобразования


def month_name(x):
    """Функция, преобразующая номера месяцев в их имена"""
    names = pd.Series(["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                 index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])
    
    return names[x]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [119]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +
# если ответили верно, можете добавить комментарий со значком "+"

In [48]:
data2.sort_values(['budget'],ascending=False).head(1)['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [120]:
# думаю, логику работы с этим словарем вы уже поняли, 
# поэтому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)' # +

In [50]:
data2.sort_values(['runtime'],ascending=False).head(1)['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [121]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' # +

In [52]:
data2.sort_values(['runtime']).head(1)['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [122]:
answers['4'] = '2. 110' # +

In [54]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [123]:
answers['5'] = '1. 107' # +

In [56]:
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [124]:
answers['6'] = '5. Avatar (tt0499549)' # +

In [58]:
data2.sort_values(['profit'], ascending=False).head(1)['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [125]:
answers['7'] = '5. The Lone Ranger (tt1210819)' # +

In [60]:
data2[data2.profit == data2.profit.min()].head(1)['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [126]:
answers['8'] = '1. 1478' # +

In [62]:
data2[data2.profit > 0].shape[0]

1478

In [63]:
# Вариант 2
len(data2[data2.profit > 0].index)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [127]:
answers['9'] = '4. The Dark Knight (tt0468569)' # +

In [65]:
data2008 = data2[data2.release_year == 2008]
data2008[data2008.revenue == data2008.revenue.max()]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [128]:
answers['10'] = '5. The Lone Ranger (tt1210819)' # +

In [67]:
data2012 = data2[(data2.release_year >= 2012) & (data2.release_year <= 2014)]
data2012.sort_values(['profit']).head(1)['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [129]:
answers['11'] = '3. Drama' # +

In [69]:
pd.Series(data2.genres.str.cat(sep='|').split('|')).value_counts().head(1)

Drama    782
dtype: int64

In [70]:
# Вариант 2
Counter(data2.genres.str.cat(sep='|').split('|')).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [71]:
# Вариант 3
data_genres = data2.copy()
data_genres['genres'] = data_genres.genres.apply(lambda d:d.split('|'))
data_genres = data_genres.explode('genres') # получаем датафрейм, в каждой строке которого только один жанр
data_genres.genres.value_counts().head(1)

Drama    782
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [130]:
answers['12'] = '1. Drama' # +

In [73]:
data_genres2 = data2[data2.profit > 0]
pd.Series(data_genres2.genres.str.cat(sep='|').split('|')).value_counts().head(1)

Drama    560
dtype: int64

In [74]:
# Вариант 2
data_genres3 = data_genres[data_genres.profit > 0] # используем датафрейм из задачи №11
data_genres3.genres.value_counts().head(1)

Drama    560
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [131]:
answers['13'] = '5. Peter Jackson' # +

In [76]:
new_director = data2.copy()
new_director['dir'] = new_director.director.apply(lambda d:d.split('|'))
new_director = new_director.explode('dir') # получаем датафрейм, в каждой строке которого только один режиссер. 
                                           # Для сохранности данных вводим новый столбик "dir" для этих данных
new_director.groupby('dir')['revenue'].sum().sort_values(ascending=False).head(1)

dir
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [132]:
answers['14'] = '3. Robert Rodriguez' # +

In [78]:
director_action = data2.copy()
director_action = director_action[director_action.genres.str.contains("Action", na=False)] 
pd.Series(director_action.director.str.cat(sep='|').split('|')).value_counts().head(1)

Robert Rodriguez    9
dtype: int64

In [79]:
# Вариант 2
genres2 = new_director[new_director.genres.str.contains('Action', na=False)] # используем датафрейм из варианта 2 задачи 13
genres2.dir.value_counts().head(1)

Robert Rodriguez    9
Name: dir, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [133]:
answers['15'] = '3. Chris Hemsworth' # +

In [81]:
new_actor = data.copy()
new_actor['cast2'] = new_actor.cast.apply(lambda c:c.split('|'))
new_actor2012 = new_actor.loc[new_actor['release_year'] == 2012]
new_actor2012 = new_actor2012.explode('cast2')
new_actor2012.groupby('cast2')['revenue'].sum().sort_values(ascending=False).head(1)

cast2
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

In [83]:
# Вариант 2
new_actor = data.copy() 
new_actor['cast2'] = new_actor.cast.apply(lambda c:c.split('|')) # для сохранности данных вводим столбик "cast2"
new_actor = new_actor.explode('cast2')
new_actor2012 = new_actor.loc[new_actor['release_year'] == 2012]
new_actor2012.groupby('cast2')['revenue'].sum().sort_values(ascending=False).head(1)

cast2
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [134]:
answers['16'] = '3. Matt Damon' # +

In [85]:
budget_actor = data2[data2['budget'] > data2['budget'].mean()]
pd.Series(budget_actor.cast.str.cat(sep='|').split('|')).value_counts().head(1)

Matt Damon    18
dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [135]:
answers['17'] = '2. Action' # +

In [87]:
cage_genres = data2[data2.cast.str.contains("Nicolas Cage", na=False)]
pd.Series(cage_genres.genres.str.cat(sep='|').split('|')).value_counts().head(1)

Action    17
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [136]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' # +

In [89]:
pcompany = data2.copy()
pcompany['pc2'] = pcompany.production_companies.apply(lambda p:p.split('|'))
pcompany = pcompany.explode('pc2') # получили датафрейм "одна строка - одна продюсерская компания"
                                   # для сохранности данных вводим новый столбик "pc2"
paramount_losses = pcompany[pcompany.pc2.str.contains("Paramount Pictures", na=False)]
paramount_losses.sort_values(['profit']).head(1)['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [137]:
answers['19'] = '5. 2015' # +

In [91]:
data2.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [138]:
answers['20'] = '1. 2014' # +

In [93]:
wb_deal = pcompany[pcompany.pc2.str.contains("Warner Bros", na=False)] # и вот уже используем датафрейм из задачи N18
wb_deal.groupby('release_year')['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2292949646
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [139]:
answers['21'] = '4. Сентябрь' # +

In [95]:
monthes = data2.copy()
monthes['month'] = monthes.release_date.apply(lambda p:p.split('/'))
monthes['month'] = monthes['month'].apply(lambda m: int(m[0])) # новый датафрейм содержит столбик с номером месяца, в который вышел фильм

full_answer = monthes.groupby('month')['original_title'].nunique().sort_values(ascending=False).head(1)
num_month = full_answer.index[0]
month_name(num_month)

'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [140]:
answers['22'] = '2. 450' # +

In [97]:
summer_months = monthes.loc[(monthes['month'] == 6)
                           |(monthes['month'] == 7)
                           |(monthes['month'] == 8)] # используем датафрейм из задачи №21
summer_months.count()['original_title']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [141]:
answers['23'] = '5. Peter Jackson' # +

In [99]:
monthes_dir = new_director.copy() # используем датафрейм из задачи 13, второй вариант
monthes_dir['month'] = monthes_dir.release_date.apply(lambda p:p.split('/'))
monthes_dir['month'] = monthes_dir['month'].apply(lambda m: int(m[0]))
winter_months = monthes_dir.loc[(monthes['month'] == 1)
                           |(monthes['month'] == 2)
                           |(monthes['month'] == 12)]
winter_months['dir'].value_counts().head(1)

Peter Jackson    7
Name: dir, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [142]:
answers['24'] = '5. Four By Two Productions' # +

In [101]:
pc_len = pcompany.copy() # используем датафрейм из задачи №18
pc_len['len_title'] = pc_len['original_title'].apply(lambda m: len(m))
pc_len.groupby('pc2')['len_title'].mean().sort_values(ascending=False).head(1)

pc2
Four By Two Productions    83.0
Name: len_title, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [143]:
answers['25'] = '3. Midnight Picture Show' # +

In [103]:
pc_len['list_overview'] = pc_len.overview.apply(lambda p:p.split(' ')) # работаем с датафреймом из задачи №24
pc_len['len_overview'] = pc_len['list_overview'].apply(lambda m: len(m))
pc_len.groupby('pc2')['len_overview'].mean().sort_values(ascending=False).head(1)

pc2
Midnight Picture Show    175.0
Name: len_overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [144]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' # +

In [105]:
votes = data2.sort_values(['vote_average'], ascending=False)
percent = int(len(votes.index)/100)
votes_better = votes.head(percent)

# Проверка
votes_better.loc[votes_better['original_title'].isin(['Inside Out', 'The Dark Knight', '12 Years a Slave'])]

# votes_better.loc[data4['original_title'].isin(['BloodRayne', 'The Adventures of Rocky', 'Bullwinkle'])] #False
# votes_better.loc[data4['original_title'].isin(['Batman Begins', 'The Lord of the Rings: The Return of the King', 'Upside Down'])] #False
# votes_better.loc[data4['original_title'].isin(['300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1'])] #False
# votes_better.loc[data4['original_title'].isin(['Upside Down', 'Inside Out', 'Iron Man'])] #False

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [145]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' # +

In [107]:
pair_actors = [] 
for cast in data2.cast.str.split('|'):
    pair_actors.extend(combinations(cast, 2))
display(pd.Series(pair_actors).value_counts())
pd.Series(pair_actors).value_counts().index[1] # вопрос с подвохом: есть две пары актеров, которые удовлетворяют условию
                                               # поэтому надо сначала посмотреть весь список пар

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Jennifer Aniston, Jake Gyllenhaal)    1
(Andy GarcÃ­a, Peter O'Toole)          1
(Adam Levine, Catherine Keener)        1
(Carrie-Anne Moss, Aaron Yoo)          1
(Leslie Mann, Don Johnson)             1
Length: 18121, dtype: int64

('Daniel Radcliffe', 'Emma Watson')

# Submission

In [146]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [112]:
# и убедиться, что ничего не пропустил)
len(answers)

27